/ASCIIArtDebugging/.DS_Store
/.DS_Store
/ASCIIArtDebugging/ASCIIArtDebugging.xcodeproj/xcuserdata/derekselander.xcuserdatad/xcschemes/xcschememanagement.plist
/ASCIIArtDebugging/ASCIIArtDebugging.xcodeproj/xcuserdata/derekselander.xcuserdatad/xcschemes/ASCIIArtDebugging.xcscheme
/ASCIIArtDebugging/ASCIIArtDebugging.xcodeproj/xcuserdata/derekselander.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/ASCIIArtDebugging/ASCIIArtDebugging.xcodeproj/project.xcworkspace/xcuserdata/derekselander.xcuserdatad/UserInterfaceState.xcuserstate
/ASCIIArtDebugging/ASCIIArtDebugging.xcodeproj/project.xcworkspace/contents.xcworkspacedata